.examples {
  display: flex;
  position: relative;
  justify-content: space-between;
  max-width: 100%;
  .example-block {
    width: 750px;
    padding: 55px;
    padding-bottom: 0;
    &:hover {
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .type-example {
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      color: $grayCol;
    }
    .name-example {
      margin: 10px 0;
      font-weight: 600;
      font-size: 28px;
      line-height: 40px;
      color: $darkCol;
    }
    .example-pic {
      margin-top: 56px;
    }
  }
  .product-design-block {
    background-color: #fdf5ef;
  }
  .ui-ux-design-block {
    background-color: #f3f1fa;
  }
}
