.experience {
  display: flex;
  position: relative;
  justify-content: space-between;
  .experience-wrapper {
    display: block;
    position: relative;
    width: 710px;
    height: auto;
    .experience-header {
      padding: 20px 0;
    }
    .experience-body {
      display: flex;
      position: relative;
      flex-direction: column;
      width: 100%;
      height: auto;
      .exp-body-element {
        display: flex;
        position: relative;
        padding: 40px 0;
        border-bottom: 1px solid #c8c8c8;
        img {
          margin-right: 22px;
        }
        .left-part-element {
          p {
            font-weight: 600;
            font-size: 24px;
            line-height: 28px;
            color: $darkCol;
            margin-bottom: 8px;
          }
          a {
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            color: $grayCol;
          }
        }
        .right-part-element {
          //   display: flex;
          //   flex-direction: column;
          position: absolute;
          right: 0;
          button {
            position: absolute;
            width: 12px;
            height: 12px;
            background: url(/icons/arrow-top-right-dark.svg);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            right: 0;
            padding: 8px;
          }
          p {
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            color: $grayCol;
            margin-top: 35px;
          }
        }
      }
      .last-element {
        border-bottom: none;
      }
    }
  }
}
